<div class="sign-in-page">
  <%= link_to "Back", menu_path , class: "btn btn-warning login-btn pull-right" %>
  <div id="leader-board-container">
    <h1 id="leaderboard-header">LEADERBOARD</h1>
    <br>
    <table>
      <tr>
        <th>User Name</th>
        <th>WINS</th>
        <th>LOSES</th>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>
      <tr>
        <td> User Name</td>
        <td>3211</td>
        <td>3012</td>
      </tr>

    </table>
  </div>
</div>
