<div class="sign-in-page">
  <%= link_to "Back", menu_path , class: "btn btn-warning login-btn pull-right" %>
  <div id="leader-board-container">
    <h1 id="leaderboard-header">LEADERBOARD</h1>
    <br>
    <table>
      <tr>
        <th>User Name</th>
        <th>WINS</th>
        <th>LOSES</th>
      </tr>
      <tr>
        <td>DoggoMasterSteve</td>
        <td>2312678</td>
        <td>0</td>
      </tr>
      <tr>
        <td>CanIAskYouAQuestion</td>
        <td>6211</td>
        <td>5012</td>
      </tr>
      <tr>
        <td>OhBaby</td>
        <td>6205</td>
        <td>5122</td>
      </tr>
      <tr>
        <td>PewPewMasta</td>
        <td>5906</td>
        <td>4832</td>
      </tr>
      <tr>
        <td>Slim</td>
        <td>5820</td>
        <td>4241</td>
      </tr>
      <tr>
        <td>WooF</td>
        <td>5818</td>
        <td>3900</td>
      </tr>
      <tr>
        <td>ThatGuy</td>
        <td>5725</td>
        <td>4120</td>
      </tr>
      <tr>
        <td>CatsAreBetter</td>
        <td>5689</td>
        <td>5123</td>
      </tr>
      <tr>
        <td>FrankdaTank</td>
        <td>5637</td>
        <td>5098</td>
      </tr>
      <tr>
        <td>YourNameGoesHere</td>
        <td>5581</td>
        <td>3259</td>
      </tr>
      <tr>
        <td>NurfHerder</td>
        <td>5517</td>
        <td>3212</td>
      </tr>
      <tr>
        <td>Hizmata</td>
        <td>5502</td>
        <td>4501</td>
      </tr>
      <tr>
        <td>ElTrolloLoco</td>
        <td>5492</td>
        <td>4921</td>
      </tr>
      <tr>
        <td>SlurpeeFiend</td>
        <td>5424</td>
        <td>2021</td>
      </tr>

    </table>
  </div>
</div>
