<div id="cards-page">
  <h1 id='card-list-title'>Card List</h1>
  <div class="container" id="card-list-container">
    <%= link_to "Back", menu_path , class: "btn btn-warning login-btn pull-right" %>
    <div id="card-list">
    </div>
  </div>
</div>

<script type="text/javascript">
//==========================CREATE CARD LIST=========================================
//===================================================================================
const cardList = p1Deck.map(a => Object.assign({}, a));

createList();

function createList(){
    let cardListDiv = document.getElementById("card-list");

    for(let i = 0 ; i < cardList.length - 1 ; i++) {
    let card = cardList[i];
    let cardId = card.cardId;
    //create elements
    let newCard = document.createElement("div");
    let newCardImgContainer = document.createElement("div");
    let newCardImg = document.createElement("IMG");
    let newCardFront = document.createElement("div");
    let newCardSpecial = document.createElement("p");
    let newCardAtkAndHpBox = document.createElement("p");
    let newCardAtkBox = document.createElement("span");
    let newCardAtkBoxSeparator = document.createTextNode('/');
    let newCardHpBox = document.createElement("span");
    let atkBoxAttack = document.createTextNode(`${card.attack}`);
    let atkBoxHealth = document.createTextNode(`${card.health}`);
    //add Id and/or className to elements
    newCard.setAttribute("id", "");
    newCard.className = "card-front enlarge p1-hcard pull-right";
    newCardImgContainer.className = "card-img-holder";
    newCardImg.className = "card-img";
    newCardImg.setAttribute("src", card.image);
    newCardFront.className = "card-front-background";
    newCardSpecial.className = "card-special";
    newCardAtkAndHpBox.className = "atk-hp-box";
    newCardAtkBox.className = "atk-box";
    newCardHpBox.className = "hp-box";
    // append elements to eachother
    newCard.append(newCardImgContainer);
    newCardImgContainer.append(newCardImg);
    newCard.append(newCardFront);
    newCardFront.append(newCardSpecial);
    newCardSpecial.append(newCardAtkAndHpBox);
    newCardAtkAndHpBox.append(newCardAtkBox);
    newCardAtkBox.append(atkBoxAttack);
    newCardAtkAndHpBox.append(newCardAtkBoxSeparator);
    newCardAtkAndHpBox.append(newCardHpBox);
    newCardHpBox.append(atkBoxHealth);
    //put card in the list
    newCard.style.margin = "10px";

    document.getElementById('card-list').appendChild(newCard);
  }
}
</script>
