// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#card-list {
  background-color: transparentize(#3b3d3f, .3);
  border: medium orange solid;
  border-radius: 10px;
  display: inline-block;
  height:80vh;
  width:50vw;
  padding-top:10%;
  padding-left:3%;
  padding-right: 8%;
  overflow: auto;
}


#card-list-title {
  position: absolute;
  top:7%;
  left:45%;
  font-weight: bolder;
  color: #ff8300;
  text-align: center;
}

#cards-page {
  padding: 15vh;
  padding-left: 25vw;
  height: 100vh;
  background-image: url("loginpagebackground1.jpeg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
