// Place all the styles related to the rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#rules-container {
  position: relative;
  top: 2%;
  margin: auto;
  padding:3%;
  width: 85%;
  background-color: transparentize(#3b3d3f, .3);
  height: 85%;
  border: medium orange solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  overflow: auto;
}

#rules-container > h3 {
  margin:0;
  color:orange;
}

.pull-left {
  margin-right: auto;
}
