// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sign-up-errors {
  position: absolute;
  top: 55%;
  left:250px;
  width: 200px;
}

#sign-up-container {
  position: absolute;
  bottom: 45px;
}

#sign-up-background {
  position: relative;
  top: 10%;
  margin: auto;
  width: 25%;
  background-color: transparentize(#3b3d3f, .3);
  height: 85%;
  border: medium orange solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  color:#ff8300;
}

#sign-up-h1{
  font-weight: bold;
}
