<div class="sign-in-page">
  <%= link_to "Back", menu_path , class: "btn btn-warning login-btn pull-right" %>
  <div id="rules-container">
  <h3>How To Play:</h3>
  <br>
  <strong class="pull-left">Card Types:</strong>
  <br>
  <p>There are two card types in the game, "doggo" and "utility".<br><br>
  The Doggo cards are used to attack the opponents doggo card in order to knock them out of the game.
  Doggo cards have attack and health stats located at the bottom right of the card as well as a special attack. Each doggo has a unique special attack show in the center of the card. In order to use a doggos special attack you must first build up bones by attacking the opponents doggo and once your bone bar is full you can release the awesome power of your doggos special ability.
  <br>
  The utility are used to alter the course of the game. Utility cards have no attack value and can only be used once before they are discarded. Each player and use a maximum of two utility cards per round. Some of the actions a utiltiy card can do include buff, heal, draw additional cards from the deck or swap an active card with a bench card.
  <br>
  <br>
  <strong>Game Start:</strong>
  <br>
  <br>
  At the start of the game a coin toss will determain who may attack first. During the first round, the setup round, each player is delt 6 cards. Each player must then place at least one doggo card in the attacking postion and then has the option of placing doggo cards into the bench slots, a maximum of 4 bench cards and be in play at any given time. During this round no player will be able to attack. A player may use up to 2 utility cards per turn and attack only once per turn.
  Once the setup round is complete each player will take turns trying to defeat their opponent's doggos. The first player
  to defeat 7 of their opponents doggos will be declared the victor. Do you have what it takes to become the doggo master?
 </p>
</div>
</div>
